header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #a8212133;
    border-bottom: 1px solid #ffffff;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #f81313;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #5e1c1c57;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    color: rgb(230, 230, 230);
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 30px;
}

footer {
    padding: 20px;
    background-color: #631a1a52;
    text-align: center;
}
.logo-1{
    width: 200px;
    
}