header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #8119191a;
    border-bottom: 1px solid #ccc;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #470303;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

textarea {
    height: 100px;
}

button[type="submit"] {
    background-color: #7c1f1f;
    color: #fcfcfc;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0864ec;
}

footer {
    padding: 20px;
    background-color: #c4313121;
    text-align: center;
}
.logo-1{
    width: 300px;
}
#comment-list{
    background-color: #dd47473b;
}