main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #5e1c1c57;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    color: rgb(230, 230, 230);
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 30px;
}

footer {
    padding: 20px;
    background-color: #631a1a52;
    text-align: center;
}
.logo-1{
    width: 200px;
    
}