{% extends 'base.html' %}
{% load static %}
{% block css %}   
<link rel="stylesheet" href="{% static 'css/estilo_3.css'%}">
{% endblock %}
{% block content%}
    <main>
        <section id="vision">
            <h2>Nuestra visión</h2>
            <p>Bienvenidos a Michis, una marca de merchandising dedicada a los amantes de los gatos y los productos de
                calidad. En Michis, nuestra visión es proporcionar a los amantes de los gatos y los productos de calidad
                la mejor experiencia de compra posible. Nos esforzamos por ofrecer una amplia variedad de productos de
                alta calidad que reflejen la personalidad y el estilo de vida de los amantes de los gatos.
                En Michis, creemos que nuestros clientes merecen lo mejor y trabajamos arduamente para ofrecer productos
                que reflejen nuestra dedicación a la calidad. Ofrecemos una amplia gama de productos, desde ropa y
                accesorios hasta artículos para el hogar y juguetes para gatos, todo diseñado con los amantes de los
                gatos en mente.
                Nuestro objetivo es ser la marca de merchandising líder en el mercado de productos para gatos. Para
                lograrlo, nos enfocamos en brindar una experiencia de compra excepcional para nuestros clientes y
                trabajar con los mejores fabricantes para garantizar que nuestros productos sean de la más alta calidad.
                Además, estamos comprometidos con la sostenibilidad y trabajamos para reducir nuestro impacto ambiental
                en todas nuestras operaciones.</p>
        </section>
        <section id="cultura">
            <h2>Nosotros</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium officiis quo velit eaque corporis
                eius, et culpa placeat ipsam. Tempora enim ab nemo cupiditate beatae dolorem dolore velit ut atque.</p>
        </section>
    </main>
{%endblock%}